@import '../../main';
.Layout {
  grid-row: 2;
  grid-column: 2;
  padding: 20px;
}

.Header {
  display: grid;
  grid-template-columns: 5% 30% 20% 20% 10% 10%;
  grid-template-rows: 5%;
  color: white;
  border-bottom: 1px solid #666;
  align-items: center;
  padding-bottom: 8px;
  margin-bottom: 10px;
  gap: 10px;

  p {
    margin: 0;
    text-transform: uppercase;
    color: $textColor;
    font-size: 12px;
  }

  .Title {
    grid-column-start: 2;
  }

  .Calendar,
  .Clock {
    color: $textColor;
    font-size: 16px;
  }
}

.SongsList {
  height: 100vh;
  overflow: auto;
  display: grid;
  grid-template-columns: 5% 30% 20% 20% 10% 10%;
  color: white;
  gap: 10px;

  p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
  }

}
