@import '../../main';

.UserPlaylists {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background: $SideMenuColor;
  color: $textColor;

  p {
    margin: 60px 0 0 20px;
    font-size: 12px;
  }

  ul {
    margin: 0;
    padding-left: 10px;
    list-style-type: none;

    li {
      margin: 8px 0 8px 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      a {
        text-decoration: none;
        text-overflow: ellipsis;
        color: $textColor;
        overflow-wrap: normal;

        &:hover { color: white; }

        &:active,
        &.active {
          color: white;

          &::before {
            content: "";
            border-left: 3px solid green;
          }
        }
      }
    }
  }
}
