@import '../../main';

.UserPlaylists {
  grid-column-start: 1 / 2;
  grid-row: 1 / 3;
  background: $SideMenuColor;
  color: $textColor;

  p {
    margin: 0;
  }

  ul {
    padding-left: 10px;
    list-style-type: none;

    li a {
      text-decoration: none;
      color: $textColor;

      &:hover { color: white; }

      &:active,
      &.active { color: green };
    }
  }
}
